* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background: url("https://unsplash.com/photos/NQSWvyVRIJk/download?force=true")
    no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container {
  background: rgba(255, 255, 255, 0.1);
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 400px;
}
.login-container h2 {
  color: white;
  margin-bottom: 20px;
}
.input-box {
  width: 100%;
  margin-bottom: 15px;
}
.input-box label {
  display: block;
  text-align: left;
  color: white;
  margin-bottom: 5px;
}
.input-box input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

.input-box input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-btn {
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 cột bằng nhau */
  gap: 10px;
  margin-bottom: 10px;
}

.social-login {
  margin-top: 15px;
}
.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}
.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.input-box {
  position: relative;
  display: flex;
  align-items: center;
}

.input-box input {
  width: 100%;
  padding-right: 40px; /* Chừa chỗ cho icon */
}

.input-box i {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #000;
}

.input-box i:hover {
  color: white;
}
